<h1>New org</h1>

<% form_for(@org) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


<%= error_messages_for :org %>
<% form_for :org, :url => users_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>


<%= link_to 'Back', orgs_path %>
